<br><br>
<form action="" id="form" class="newP">
    <input type="text" placeholder="title" id="title" >
    <input type="text" placeholder="text" id="text">
    <button>Create New Post</button>
</form>

{{#each posts as |post|}}
    <a href="/dashboard/{{id}}" id="post">
        <div class="postcard">
            <div class="top">
                <h2>{{title}}</h2>
                <h4 id="info">post by {{user.username}} on {{dateCreated}}</h4>
            </div>
            <div class="bottom">
                <p>{{text}}</p>
            </div>
        </div>
    </a>
{{/each}}


<script src="/js/dashboard.js"></script>