
{{#each posts as |post|}}
    <a href="/post/{{id}}">
        <div>
            <div>
                <h2>{{title}}</h2>
                <h3>post by {{user.username}} on {{createdAt}}</h3>
            </div>
            <div>
                <p>{{text}}</p>
            </div>
        </div>
    </a>
{{/each}}

