<div>
    <br><br>
    <div class="postcard">
        <div class="top">
            <h2>{{post.title}}</h2>
            <h4 id="info">post by {{user.user.username}} on {{post.dateCreated}}</h4>
        </div>
        <div class="bottom">
            <p>{{post.text}}</p>
        </div>
    </div>
    <div>
        {{#each comments as |comment|}}
        <h3>{{user_id}} on {{date}}</h3>
        <h4>{{text}}</h4>
        {{/each}}
    </div>
    <br>
    <div class="combox">
        <h3>Comment?</h3>
        <form action="" id="update">
            <input type="text" placeholder="text" id="text">
            <button>Create</button>
        </form>
    </div>
</div>

<script src="/js/post.js"></script>